@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
p,
a {
	@apply text-[#555] text-sm;
}

* {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

code {
	@apply text-[#555] bg-[#eee] rounded-sm px-1 py-0.5 font-mono;
}
